body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('settings.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}
